@import "config/variables";
header {
  .site-banner {
    .hero-body {
      padding: 1rem 1.5rem;
    }
    .site-logo {
      max-height: 50px;
    }
  }
  .navbar-menu {
    .navbar-item {
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.3s;
      &.nav-current {
        color: $light;
      }
    }
  }
  #navMobile {
    background-color: $navbar-background-color;
    margin-left: 1.5rem;
  }
  .navbar-burger {
    color: $light;
    margin-left: 1.5rem;
  }
}
main {
  .site-cover {
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
  }
  .side-header {
    text-transform: uppercase;
    font-weight: 600;
  }
  .recent-post {
    display: block;
    margin: 1rem 0rem;
    .recent-title {
      color: $dark;
      font-weight: 600;
      font-size: 0.9rem;
    }
    .recent-date {
      color: $gray;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .tags {
    margin-top: 1rem;
    a {
      padding: 0.0rem 0.3rem;
      text-transform: uppercase;
      &:hover {
        .tag {
          background-color: $dark;
          color: $light;
        }
      }
      .tag {
        transition:0.3s;
        color: $gray;
        background-color: $grayer;
        border-radius: 0;
      }
    }
  }
}

