@import "config/variables";

.post-card {
  .post-card-tags {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $gray;
  }
  .hero-body {
    padding: 0rem 0rem 0.5rem;
    border-bottom: 1px solid $gray;
  }
  .title {
    margin: 0;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
  .by-line {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .content {
    margin-top: 1.5rem;
  }
}
