@import "config/variables";

.post-card {
  padding-bottom: 3rem;
  .post-card-tags {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $gray;
  }
  .hero-body {
    padding: 0rem 0rem 0.5rem;
    border-bottom: 1px solid $gray;
  }
  .title {
    margin: 0;
  }
  .subtitle {
    margin-bottom: 0.8rem;
  }
  .by-line {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .content {
    margin-top: 1.5rem;
  }
  .post-end {
    padding: 0.8rem 0rem 0rem;
    .button {
      text-transform: uppercase;
      font-size: 0.7rem;
      color: $gray;
      border-color: none;
    }
  }
  img {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}
