@import "bulma/sass/utilities/initial-variables";
$family-serif: "Lato", serif;
$family-primary: $family-serif;
$dark: #333333;
$gray: #7C7C7C;
$light: #EFEFEF;
$navbar-background-color: #3D3D3D;
$navbar-item-color: $gray;
$navbar-item-hover-color: $light;
$navbar-item-hover-background-color: $navbar-background-color;
$footer-background-color: $dark;
